      <header>
        <h1><a href="/">Plan-It</a></h1>
        <p><a href="/about">About</a> | <a href="/data">Data</a> | <a href="http://geojson.io/#id=github:landonreed/plan-it/blob/gh-pages/data/rtp_points.geojson&map=9/33.8150/-84.2753">Edit <span class="glyphicon glyphicon-share-alt"></span></a></p>

        <p class="view"><a href="https://github.com/landonreed/plan-it">View the Project on GitHub <small>landonreed/plan-it</small></a></p>


        <ul>
          <li><a href="https://github.com/landonreed/plan-it/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/landonreed/plan-it/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/landonreed/plan-it">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>