---

---
<!doctype html>
<html>
<head>
  <title>Pivot.js</title>
  <!-- Twitter Bootstrap -->
  <link rel="stylesheet" href="{{ site.baseurl}}/lib/css/bootstrap.min.css" type="text/css" />

  <link rel="stylesheet" href="{{ site.baseurl}}/lib/css/subnav.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/lib/css/pivot.css" type="text/css" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/subnav.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/accounting.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/dataTables.bootstrap.js"></script>



  <!-- jquery_pivot must be loaded after pivot.js and jQuery -->
  <script type="text/javascript" src="{{ site.baseurl}}/pivot.js"></script>
  <script type="text/javascript" src="{{ site.baseurl}}/jquery_pivot.js"></script>
  <script src="{{ site.baseurl}}/javascripts/plan_pivot.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <section>
      {{content}}
        
      </section>
        {% include footer.html %}
    </div>

  </body>
</html>